# Copy this file to .env and fill in your values
# If MONGO_URI is empty, the server will:
# 1) try to connect to local MongoDB at mongodb://127.0.0.1:27017/book
# 2) if local MongoDB is not available, it will start an in-memory MongoDB (development only)

# MONGO_URI=mongodb+srv://username:password@cluster.example.mongodb.net/myDB?retryWrites=true&w=majority
PORT=5000
